.about__centering {
  @include centering;
  padding: 110px 0;
  min-height: 590px;
  background-image: url("../img/pets.png");
  background-repeat: no-repeat;
  background-position: 170px 90px;
}

.about__wrapper {
  width: 40%;
  margin-left: 50%;
}

.about__title {
  margin-bottom: 40px;
}

.about__text {
  margin-bottom: 30px;
}
