.button {
  height: 52px;
  width: 205px;
  color: #292929;
  font-family: $primary-font;
  font-size: 17px;
  border: none;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;

  &--pink {
    background-color: $primary-color;

    &:hover {
      background-color: #fddcc4;
    }
  }

  &--white {
    background-color: #fafafa;
    border: 2px solid $primary-color;

    &:hover {
      background-color: $primary-color;
    }
  }
}
