.donation__centering {
  @include centering;
  background-color: #D8BFD8;
  padding: 70px 0;
}

.donation__wrapper {
  margin-left: 50%;
  width: 35%;
}

.donation__title {
  margin-bottom: 30px;
}

.donation__label {
  font-family: $primary-font;
  color: $font-color;
  position: relative;
}

.donation__input {
  width: 320px;
  padding: 15px;
  padding-left: 57px;
  background-color: $primary-color;
  border: none;
  border-radius: 10px;
  font-family: $secondary-font;
  color: #292929;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-image: url("../img/credit-card.svg");
  background-repeat: no-repeat;
  background-position: 17px 11px;
  background-size: 24px 30px;

  &::placeholder {
    color: #292929;
    font-size: 20px;
  }
}

.donation__text {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}
