.footer {
  background-color: #87CEEB;
}

.footer__wrapper {
  display: flex;
}

.footer__column-1 {
  background-color: #FFA500;
  width: 35%;
}

.footer__column-2 {
  background-color: #FF4500;
  width: 35%;
}
