.footer {
  background: linear-gradient(to right, rgba(86,71,64,1) 0%,rgba(27,26,28,1) 100%);
}

.footer__centering {
  @include centering;
  padding: 70px 0;
  background-image: url("../img/dog_footer.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 362px;
}

.footer__wrapper {
  display: flex;
}

.footer__column-1 {
  width: 35%;
}

.footer__column-2 {
  width: 35%;
}

.footer__title {
  color: #ffffff;
  margin-bottom: 25px;
}

.footer__item {
  padding: 15px 0 15px 60px;
  background-repeat: no-repeat;
  vertical-align: middle;

  p {
    font-family: $secondary-font;
    color: $primary-color;
    font-size: 20px;
  }

  &--email {
    background-image: url("../img/email.svg");
    background-size: 26px 40px;
    background-position: 8px;
  }

  &--phone {
    background-image: url("../img/phone.svg");
    background-size: 32px 40px;
    background-position: 5px;
  }

  &--pin {
    background-image: url("../img/pin.svg");
    background-size: 36px 36px;
    background-position: 5px;
  }
}
