.friends {
  background-color: $background-color;
  position: relative;
}

.friends__centering {
  background-color: #DCDCDC;
  @include centering;
  padding: 70px 0;
}

.friends__title {
  text-align: center;
}

.friends__button-wrapper {
  text-align: center;
}
