.friends {
  background-color: $background-color;
}

.friends__centering {
  @include centering;
  padding: 70px 0;
  position: relative;
}

.friends__title {
  text-align: center;
}

.friends__button-wrapper {
  text-align: center;
}

.friends__button {
  width: 265px;
  text-decoration: none;
  display: inline-block;
  line-height: 52px;
}
