.item {
  background-color: #fafafa;
  height: 425px;
  border-radius: 10px;
  width: 270px;
  text-align: center;

  &:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  }
}

.item__image {
  margin-bottom: 20px;
}

.item__name {
  font-family: $primary-font;
  font-size: 20px;
  color: $font-color;
  text-align: center;
  margin-bottom: 20px;
}
