.modal {
  width: 970px;
  height: 470px;
  background-color: #fafafa;
  border-radius: 10px;
  color: $font-color;
  font-family: $primary-font;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin-top: -235px;
  margin-left: -485px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  display: none;

  &--show {
    display: block;
  }
}

.modal__wrapper {
  display: flex;
}

.modal__description-wrapper {
  padding: 40px;
  width: 500px;
}

.modal__breed {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 25px;
}

.modal__description {
  color: #4c4c4c;
  font-family: "Arial", sans-serif;
  margin-bottom: 25px;
}

.modal__list {
  padding-left: 10px;
}

.modal__item {
  position: relative;
  line-height: 34px;
  font-size: 17px;
}

.modal__item::before {
  content: "";
  width: 5px;
  height: 4px;
  background-color: $primary-color;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: -10px;
}

.modal__value {
  font-family: "Arial", sans-serif;
  font-size: 15px;
}

.modal__button {
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 16px;
  position: absolute;
  background-image: url("../img/close.svg");
  top: -50px;
  right: -50px;
}
