.navigation {
  display: flex;
  align-items: center;

  &--index {
    .navigation__link {
      color: #cdcdcd;

      &:hover {
        color: #ffffff;
      }
    }
  }

  &--catalog {
    .navigation__link {
      color: $font-color;

      &:hover {
        color: #292929;
      }
    }
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
}

.navigation__item {
  margin-left: 40px;
}

.navigation__link {
  font-size: 15px;
  line-height: 29px;
  text-decoration: none;

  &:hover {
    border-bottom: 3px solid $primary-color;
  }
}
