.slider {
  width: 960px;
  margin: 40px 105px 40px 105px;
  overflow: hidden;
}

.slider__list {
  display: flex;
  padding: 20px 0;
  width: 9999px;
  transition: margin-left 250ms;
}

.slider__item {
  flex-shrink: 0;
  margin: 0 25px;
}

.slider__button-arrow {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 15px;
  position: absolute;
  top: 50%;

  &--left {
    background-image: url("../img/arrow_left.svg");
    background-position: 15px;
    left: 40px;
  }

  &--right {
    background-image: url("../img/arrow_right.svg");
    transform: rotate(180deg);
    right: 40px;
  }
}
