.slider {
  width: 960px;
  margin: 0 105px 60px 105px;
  overflow: hidden;
}

.slider__list {
  display: flex;
  justify-content: space-around;
  margin-left: -320px;
  width: 9999px;
  transition: margin-left 250ms;
}

.slider__item {
  background-color: #fff0f5;
  height: 425px;
  border-radius: 10px;
  display: inline-block;
}

.slider__image {
  margin-bottom: 20px;
}

.slider__name {
  font-family: $primary-font;
  font-size: 20px;
  color: $font-color;
  text-align: center;
  margin-bottom: 20px;
}
