@import "visually-hidden";
@import "variables";
@import "mixins";
@import "button";
@import "title";
@import "text";
@import "header";
@import "logo";
@import "navigation";
@import "hero";
@import "about";
@import "friends";
@import "item";
@import "slider";
@import "pets-list";
@import "circle-button";
@import "help";
@import "donation";
@import "footer";

body {
  font-family: "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
